<div>
	<tr>
		<td></td>
		<td><strong>				</strong></td>
	</tr>
</div>
<div class="center-align"> <h2> YOUR FRIENDS! </h2> 
	<p *ngFor="let users of this.all_users">
	<a (click)="go_to_userprofile(users.username)" class="waves-effect waves-light btn blue hoverable" *ngIf="(this.user.value.username != users.username) && is_friend(users.username)"> {{ users.ingame_name }} </a>
	<a *ngIf="(this.user.value.username != users.username) && is_friend(users.username)"> &nbsp;&nbsp; {{ users.status }} </a>
	</p>
</div>
<div>
	<tr>
	</tr>
</div>
<p class="center-align">
		<a (click)="add_friend()" class="waves-effect waves-light btn hoverable">Add a friend</a>
</p>
