<div class='row' >
    <div class="center-align">
      <div class="center-align">
		<div class="card-image">
			<img src="../../assets/42_Logo.svg.png" alt="image">
		</div>
		<div style="height: 50px; margin:0 auto;">
            <a (click)="game_route()" class="waves-effect waves-light btn z-depth-3">PLAY</a>
		</div>
        <div style="height: 50px; margin:0 auto;">
            <a (click)="spectate_route()" class="waves-effect waves-light btn z-depth-3">SPECTATE</a>
        </div>
		<div style="height: 50px; margin:0 auto;">
            <a (click)="profile_route()" class="waves-effect waves-light btn z-depth-3">USER</a>
		</div>
		<div style="height: 50px; margin:0 auto;">
		    <a (click)="chat_route()" class="waves-effect waves-light btn z-depth-3">CHAT</a>
		</div>
		</div>
		<div style="height: 50px; margin:0 auto;">
		    <a (click)="disconnect()" class="waves-effect waves-light btn z-depth-3">DISCONNECT</a>
      	</div>
		<div>
			<p>Current status : {{this.status}} </p>
		</div>
	</div>
</div>
